[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20"

[[headers]]
  for = "/*"
  [headers.values]
    Permissions-Policy = "microphone=(self)"

[[plugins]]
  package = "@netlify/plugin-nextjs"
